/***Alignments File***/

/*Justifying row elements*/
.center
    justify-content center
.end
    justify-content flex-end
.start
    justify-content flex-start
.space-btw
    justify-content space-between
.space-a
    justify-content space-around

/*Aligning row elements*/
.ai-top
    align-items flex-start
.ai-bottom
    align-items flex-end
.ai-stretch
    align-items stretch
.ai-baseline
    align-items baseline
.ai-middle
    align-items center

/*Align individual element*/
.as-top
    align-self flex-start
.as-bottom
    align-self flex-end
.as-stretch
    align-self stretch
.as-baseline
    align-self baseline
.as-middle
    align-self middle
