/***Master File***/
@charset "UTF-8"

/***Utilities***/
/*Functions*/
@import "./utilities/functions"
/*Grid Aligments*/
@import "./utilities/alignments"
@import "./utilities/utilities"

/*Resets by normalize*/
@import '../../node_modules/normalize.styl/_normalize'

/*Components*/
@import "./components/grid"
@import "./components/global"
